version: '3.3'
services:
  db:
    image: 'postgres:latest'
    restart: 'unless-stopped'
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - 'xss-db:/var/lib/postgresql/data'

  backend: 
    build:
      context: '.'
      dockerfile: 'Dockerfile.backend'
    depends_on:
      - "db"
    restart: 'unless-stopped'
    environment:
      DATABASE_URL: 'postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}'
    command: [ "./wait-for-it.sh", "-t", "0", "db:5432", "--", "./startup.sh" ]

  frontend:
    build:
      context: '.'
      dockerfile: 'Dockerfile.frontend'
    depends_on: 
      - 'backend'
    ports:
     - '8888:80'
    restart: 'unless-stopped'
    command: [ "/usr/sbin/apache2ctl", "-D", "FOREGROUND"]

volumes: 
  xss-db:
