[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "==0.115.6"}
sqlmodel = "==0.0.22"
alembic = "*"
psycopg2-binary = "*"
werkzeug = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pipenv = "*"

[requires]
python_version = "3.12"
