[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==3.1.1"
Flask-Cors = "==6.0.1"
Flask-JWT-Extended = "==4.7.1"
Flask-Migrate = "==4.1.0"
Flask-SQLAlchemy = "==3.1.1"
requests = "==2.32.5"
Flask-Pydantic = "==0.13.1"
waitress = "==3.0.2"
pydantic = {extras = ["email"], version = "==2.11.9"}
psycopg2-binary = "==2.9.10"
pyotp = "==2.9.0"
pyqrcode = "==1.2.1"
pypng = "==0.20220715.0"
jinja2 = "==3.1.6"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
freezegun = "*"
pipenv = "*"

[requires]
python_version = "3.13"
