[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.8.5"
waitress = "==1.4.3"
Flask = "==1.1.1"
Flask-Cors = "==3.0.10"
Flask-Migrate = "==2.5.2"
Flask-SQLAlchemy = "==2.4.1"
Flask-JWT-Extended = "==4.0.2"

[dev-packages]
black = "==20.8b1"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
