-i https://pypi.org/simple
alembic==1.12.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dnspython==2.4.2
email-validator==2.0.0.post2
flask==2.3.2
flask-cors==4.0.0
flask-jwt-extended==4.5.2
flask-migrate==4.0.4
flask-pydantic==0.11.0
flask-sqlalchemy==3.0.3
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
jinja2==3.1.2
mako==1.2.4
markupsafe==2.1.3
psycopg2-binary==2.9.6
pydantic==1.10.7
pyjwt==2.8.0
pyotp==2.8.0
pypng==0.20220715.0
pyqrcode==1.2.1
requests==2.31.0
sqlalchemy==2.0.20
typing-extensions==4.7.1
urllib3==2.0.4
waitress==2.1.2
werkzeug==2.3.7
